*.o
.vscode/
CMakeCache.txt
CMakeFiles/
libsdldemo.a
*.swp
cmake_install.cmake
.idea/
./cmake-build-debug
.gitignore
*Makefile
ServerMain
WolfensteinTest
*sdl-wall
*log
*log.txt
lua
client/src/Login/Login_autogen
qt/editor/editor_autogen
client/executable/Wolfen3D
client/executable/sdldemo_autogen
client/executable/lua_autogen
client/executable/Wolfen3D_autogen
